doctype html
html(lang='en')
	include ../includes/head
	body
		include ../includes/header
		main.main
			#timer.timer__wrapp
			#timer1.timer__wrapp
			#timer2.timer__wrapp
		include ../includes/footer
